/jarsCon/sqlServerConn/build/
/jarsCon/sqlServerConn/dist/
/sqlServerConn/build/
/sqlServerConn/dist/
/sqlServerConn/nbproject/private/
/JavaApplication3/nbproject/private/
/mySqlConn/nbproject/private/
/connSqlServer/nbproject/private/
/connSqlServer/dist/
/connSqlServer/build/
/mySqlConn/dist/
/mySqlConn/build/
/connMySql/build/
/connMySql/dist/
/connMySql/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/connPostgreSql/nbproject/private/
/connPostgreSql/dist/
/connPostgreSql/build/
/connOracleSql/nbproject/private/
/connOracleSql/build/
/connOracleSql/dist/